.text_box
{
  padding: 0 50px;
}

.text
{
  color: white;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

.title
{
  font-weight: 500;
}


body
{
  background-color: black;
  overflow-x: hidden;
}


@media (min-width: 1440px) {

.slide
{
  margin-top: 50px;
  width: 100vw;
  
}

img {
  /* height: 70vh; */
  height: 70vh;
  display: block;
  margin: auto;
}


}


@media (max-width: 1439px) {

  .slide
  {
    margin-top: 50px;
    width: 100vw;
  }
  
  img {
    /* height: 70vh; */
    width: 90vw;
    display: block;
    margin: auto;
  }
  
  
  }